body
{
    background-color: #878787;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1; /*serve para definir o espaçamento entre as linhas */
    animation: fadeIn 1s ease-in-out;
}

header
{
    background-color: #3f3f3f;
    padding: 30px;
    text-align: justify;
    position: relative;
}

header p {
  color: #fff;
  font-size: 18px;
  margin: 5px 0 0;
}

h1
{
    color: #fff;
    font-size: 50px;
    margin: 0;
    text-shadow: 1px 1px 2px #000;
}

.Die {
    color:darkgray;
}

.Chat {
    color:rgb(131, 45, 45);
}

footer
{
    padding: 30px;
    text-align: center;
}

.botao
{
  background-color: rgb(131, 45, 45);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.botaovoltar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #3f3f3f;
  color: #fff;
  font-size: 15px;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
}

/*.botaohead {
  background-color: #3f3f3f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  border-bottom: none;
}

.menu-ori {
  background-color: #3f3f3f;
  color: #fff;
  padding: 20px;
  text-align: center;
}
*/